<div class="bg">
    <div class="intro1">
        <img src="../../assets/images/months/2023_calendar.png" height="100px">
    </div>
    <div class="grid-container2">
        <div class="grid-item">
            <a href="./month/january/">JANUARY</a>
            <router-outlet></router-outlet>
        </div>
        <div class="grid-item">
            <a href="./month/febuary/">FEBUARY</a>
            <router-outlet></router-outlet>
        </div>
        <div class="grid-item">
            <a href="./month/march/">MARCH</a>
            <router-outlet></router-outlet>
        </div>
        <div class="grid-item">
            <a href="./month/april/">ARPIL</a>
            <router-outlet></router-outlet>
        </div>
        <div class="grid-item">
            <a href="./month/may/">MAY</a>
            <router-outlet></router-outlet>
        </div>
        <div class="grid-item">
            <a href="./month/june/">JUNE</a>
            <router-outlet></router-outlet>
        </div>
        <div class="grid-item">
            <a href="./month/july/">JULY</a>
            <router-outlet></router-outlet>
        </div>
        <div class="grid-item">
            <a href="./month/august/">AUGUST</a>
            <router-outlet></router-outlet>

        </div>
        <div class="grid-item">
            <a href="./month/september/">SEPTEMBER</a>
            <router-outlet></router-outlet>
        </div>
        <div class="grid-item">
            <a href="./month/october/">OCTOBER</a>
            <router-outlet></router-outlet>
        </div>
        <div class="grid-item">
            <a href="./month/november/">NOVEMBER</a>
            <router-outlet></router-outlet>
        </div>
        <div class="grid-item">
            <a href="./month/december/">DECEMBER</a>
            <router-outlet></router-outlet>
        </div>
    </div>  
</div>
