<div class="bg">
  <div class="intro1">
    <img src="../assets/images/months/2023_calendar.png" height="100px">
  </div>
  <div class="grid-container2">
    <div class="grid-item"><a href="./month/january/">JANUARY</a>
      <router-outlet></router-outlet></div>
    <div class="grid-item">FEBUARY</div>
    <div class="grid-item">MARCH</div>
    <div class="grid-item">ARPIL</div>
    <div class="grid-item">MAY</div>
    <div class="grid-item">JUNE</div>
    <div class="grid-item">JULY</div>
    <div class="grid-item">AUGUST</div>
    <div class="grid-item">SEPTEMBER</div>
    <div class="grid-item">OCTOBER</div>
    <div class="grid-item">NOVEMBER</div>
    <div class="grid-item">DECEMBER</div>
  </div>  
</div>