<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- this is my bg stuff haha coolll!!!-->
  <link rel="stylesheet" href="./app.component.css">
<style>
  
#intro1{
 color:blue;
 text-align: center;
 font-size: 100px;
}

#quote{
 text-align: center;
 font-size: 20px;
 font-weight: 900;
}

#list{
  padding: 0px;
  background: #894680;
  background-position: left;
  position: auto;
  width: 500px;
  margin: 0; padding: 0;
}
</style>
</head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
 #img {
   width: auto;
   height: auto;
 }
</style>
  <body>
    <div class="bg">
      <div class="grid-container">
       <div class="grid-item">1</div>
       <div class="grid-item">1</div>
       <div class="grid-item">1</div>
       <div class="grid-item">1</div>
     </div>  
    </div>
  </body>
</html>