body,
html {
  height: 100%;
}

.bg {
  background-image: url('../assets/first_bg.png');
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  width: 100vw;
  height: 100vh;
}

.grid-container{
  display: grid;
  grid-template-columns: 100px 100px auto;
  background-color: #dbdbdb;
  justify-items: center;
  margin: 0 auto;
  width: 80%;
  padding: 10px;
}

.grid-item{
  background: #ad92b3;
  border: 1px solid black;
  padding: 10px;
  font-size: 30px;
  width: 50%;
  height: 80px;
  text-align:top left;
}