body, html {
    height: 100%;
    margin: 0;
  }
  
  .bg {
    /* The image used */
    background-image: url("../../assets/first_bg.png");
  
    /* Full height */
    height: 100%; 
  
    /* Center and scale the image nicely */
    background-position: center;
  }

  .main_calender {
    border: 5px dashed black;
    padding: 50px;
    background: #dbdbdb;
    background-repeat: no-repeat;
    background-origin: padding-box;
    background-position: center;
    position: center;
    width: 80%;
    margin:0 auto;
  }