<div class="bg">
  <font size="+4" >
    <a href="../../" style="color:black">HOME</a>
    <router-outlet></router-outlet> 
  </font>
    <div class="month-header">
      <img src="../../../assets/images/months/03_mar.png" height="100px">
    </div>
    <div class="macro-weekdays-container">
      <div class="micro-weekdays-container">SUN</div>
      <div class="micro-weekdays-container">MON</div>
      <div class="micro-weekdays-container">TUES</div>
      <div class="micro-weekdays-container">WED</div>
      <div class="micro-weekdays-container">THURS</div>
      <div class="micro-weekdays-container">FRI</div>
      <div class="micro-weekdays-container">SAT</div>
    </div>
    <div class="macro-month-container" position='center'>
      <div class="micro-month-container">1</div>
      <div class="micro-month-container">2</div>
      <div class="micro-month-container">3</div>
      <div class="micro-month-container">4</div>
      <div class="micro-month-container">5</div>
      <div class="micro-month-container">6</div>
      <div class="micro-month-container">7</div>
      <div class="micro-month-container">8</div>
      <div class="micro-month-container">9</div>
      <div class="micro-month-container">10</div>
      <div class="micro-month-container">11</div>
      <div class="micro-month-container">12</div>
      <div class="micro-month-container">13</div>
      <div class="micro-month-container">14</div>
      <div class="micro-month-container">15</div>
      <div class="micro-month-container">16</div>
      <div class="micro-month-container">17</div>
      <div class="micro-month-container">18</div>
      <div class="micro-month-container">19</div>
      <div class="micro-month-container">20</div>
      <div class="micro-month-container">21</div>
      <div class="micro-month-container">22</div>
      <div class="micro-month-container">23</div>
      <div class="micro-month-container">24</div>
      <div class="micro-month-container">25</div>
      <div class="micro-month-container">26</div>
      <div class="micro-month-container">27</div>
      <div class="micro-month-container">28</div>
      <div class="micro-month-container">29</div>
      <div class="micro-month-container">30</div>
    </div>  
    <div class="last-month-box">
        <div class="month-text"><a href="./month/febuary/">LAST</a></div>
        <router-outlet></router-outlet>
      </div> 
      <div class="next-month-box">
        <div class="month-text"><a href="./month/april/">NEXT</a></div>
        <router-outlet></router-outlet>
      </div>
  </div>